# Mini Project: Student Result Management System

This project demonstrates Python and SQL integration using simple prompts to manage student data.

## Objective

- Add new students (name and marks)  
- Display all students  
- Search a student by name  
- Find the top scorer  
- Practice Python + SQLite interaction

## Libraries Used

- `sqlite3`: For database operations  
- `os`: To check files and directories  
- `datetime`: Optional, to timestamp actions  
- `pandas`: Optional, for better table display

In [3]:
# Import libraries
import sqlite3
import os
from datetime import datetime

# Connect to SQLite database (creates file if not exists)
conn = sqlite3.connect("student_db.sqlite")
cursor = conn.cursor()

# Create students table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    marks INTEGER
)
''')
conn.commit()

print("Database and table setup complete!")

Database and table setup complete!

## Python Functions

Functions to add, display, search, and analyze student data.

In [4]:
# Add new student
def add_student(name, marks):
    cursor.execute("INSERT INTO students (name, marks) VALUES (?, ?)", (name, marks))
    conn.commit()
    print(f"Student {name} added successfully!")

# Show all students
def show_students():
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    if rows:
        for row in rows:
            print(row)
    else:
        print("No students found.")

# Search student by name
def search_student(name):
    cursor.execute("SELECT * FROM students WHERE name = ?", (name,))
    rows = cursor.fetchall()
    if rows:
        for row in rows:
            print(row)
    else:
        print("Student not found.")

# Find top scorer
def top_scorer():
    cursor.execute("SELECT name, marks FROM students ORDER BY marks DESC LIMIT 1")
    row = cursor.fetchone()
    if row:
        print(f"Top Scorer: {row[0]}, Marks: {row[1]}")
    else:
        print("No students in database.")

## User Interaction

Menu-based prompts to interact with the student database.

In [ ]:
while True:
    print("\n--- Student Management System ---")
    print("1. Add Student")
    print("2. Show All Students")
    print("3. Search Student by Name")
    print("4. Top Scorer")
    print("5. Exit")

    choice = input("Enter your choice: ")

    if choice == "1":
        name = input("Enter student name: ")
        marks = int(input("Enter marks: "))
        add_student(name, marks)
    elif choice == "2":
        show_students()
    elif choice == "3":
        name = input("Enter name to search: ")
        search_student(name)
    elif choice == "4":
        top_scorer()
    elif choice == "5":
        print("Exiting...")
        break
    else:
        print("Invalid choice. Try again.")

--- Student Management System ---
1. Add Student
2. Show All Students
3. Search Student by Name
4. Top Scorer
5. Exit
Enter your choice: 1
Enter student name: Ayush
Enter marks: 96
Student Ayush added successfully!

--- Student Management System ---
1. Add Student
2. Show All Students
3. Search Student by Name
4. Top Scorer
5. Exit
Enter your choice: 4
Top Scorer: Ayush, Marks: 96

--- Student Management System ---
1. Add Student
2. Show All Students
3. Search Student by Name
4. Top Scorer
5. Exit

## Testing

Add 2–3 students using option 1 in the menu, then test options 2–4 to verify all features work correctly.

## Conclusion

This mini project demonstrates Python and SQLite integration using simple prompts.  
You can add, view, and search students, and find the top scorer.